
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profil Sekmesine Hoşgeldiniz<br />
                                <br />
    Merve Akça<br />
    Uludağ Üniversitesi<br />
    Fen Fakültesi<br />
    Software Devoloper<br />
    </h2>